*

!laeufer/
!laeufer/**
!schnittstelle/
!schnittstelle/**
!vertrag/
!vertrag/**
!wurzelwerk/
!wurzelwerk/**

laeufer/target/
laeufer/**/target/
schnittstelle/bin/
schnittstelle/dist/
**/.cache/
**/.tmp/
**/tmp/
**/node_modules/
**/vendor/
**/.DS_Store
